docling
faiss-cpu
fastapi
graspologic
httpx
jieba
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
neo4j
nest-asyncio
networkx
numpy
openpyxl
pandas
pydantic
python-dotenv
python-louvain
rank-bm25
sentence-transformers
tiktoken
uvicorn
